@import './vars';

.app {
    font-family: 'Open Sans', sans-serif;

    &Loadmore {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 30px;

        &Button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: rgba(0, 0, 0, 0.8);
            text-align: center;
            border: 2px solid $lightGrey;
            ;
            width: 350px;
            height: 65px;
            border-radius: 5px;
            margin: 0 50px;
            font-size: $medium;
            cursor: pointer;

            &:hover {
                border: 2px solid rgba(116, 116, 116, 0.4);
            }
        }
    }
}