.twitter {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 40px;

    &Logo {
        position: absolute;
        display: flex;
        align-items: flex-end;
        background-color: black;
        border-radius: 5px;
        width: 60px;
        height: 75px;
        top: -20px;
        left: 40px;

        img {
            width: 100%;
        }
    }

    &Text {

        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        a {
            text-decoration: none;
            color: red;
        }
    }
}