.insta {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &Item {
        text-decoration: none;

        &:visited,
        &:active {
            color: black;
        }

        &Picture {
            margin: 40px;

            img {
                width: 100%;
            }
        }

        &Text {
            margin: 40px;

            a {
                text-decoration: none;
                color: red;
            }
        }
    }
}