.insta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 30px 40px;

    &Header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &Logo {
            position: absolute;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            background-color: black;
            border-radius: 5px;
            width: 60px;
            height: 75px;
            top: -20px;
            left: 40px;

            img {
                width: 70%;
                margin-bottom: 12px;
            }
        }
    }

    &Picture {
        text-decoration: none;

        &:visited,
        &:active {
            color: black;
        }


        img {
            width: 100%;
        }
    }

    &Text {
        h3 {
            color: rgba(116, 116, 116, 1);
            margin: 25px 0;
        }

        p {
            font-size: 20px;
            letter-spacing: 0.5px;
            color: rgba(116, 116, 116, 1);

            a {
                text-decoration: none;
                color: rgb(212, 0, 0);
            }
        }

    }
}